#parceiro-pos-cadastro .km-content {
    background-color: #FA8246 !important;
}

#parceiro-pos-cadastro .km-scroll-container {
    height: 100%;
    position: absolute;
    width: 100%;
}

.parceiro-navbar {
    background-color: #FA8246 !important;
    color: white !important;
}

.parceiro-footer {
    background-color:#FA8246 !important;
}

.parceiro-footer .km-state-active {
    background: #FA8246 !important;
    background: -moz-linear-gradient(top, #FA8246 0%, #FA9F46 100%) !important;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #FA8246), color-stop(100%, #FA9F46)) !important;
    background: -webkit-linear-gradient(top, #FA8246 0%, #FA9F46 100%) !important;
    background: -o-linear-gradient(top, #FA8246 0%, #FA9F46 100%) !important;
    background: -ms-linear-gradient(top, #FA8246 0%, #FA9F46 100%) !important;
    background: linear-gradient(to bottom, #FA8246 0%, #FA9F46 100%) !important;
}