
.custom-header{
    height: 80px;
}

.custom-header .km-navbar{
    height: 80px;
}

.custom-header .km-navbar .km-view-title{
    line-height: 4.3em;
}


.mt-1{
	margin-top: 8.333333333%;
}


.mt-2{
	margin-top: 16.66666667%;
}


.mt-3{
	margin-top: 25%;
}


.mt-4{
	margin-top: 33.33333333%;
}


.form-row [class^="col-"] {
    padding-left: 5px;
    padding-right: 5px
}


@media (max-width: 767px) {
    .form-row [class^="col-sm"]+[class^="col-sm"],
    .form-row [class^="col-md"]+[class^="col-md"],
    .form-row [class^="col-lg"]+[class^="col-lg"] {
        margin-top: 10px
    }
}

@media (max-width: 991px) {
    .row [class^="col-md"]+[class^="col-md"] {
        margin-top: 2em
    }
    .small-device-caption{ display: none; }
    .large-device-caption{ display: inline-block; }
}

@media (max-width: 2560px) {
    .small-device-caption{ display: none; }
    .large-device-caption{ display: inline-block; }
}

@media (max-width: 767px) {
    .row [class^="col-sm"]+[class^="col-sm"] {
        margin-top: 2em
    }

    .small-device-caption{ display: inline-block; }
    .large-device-caption{ display: none; }
}



body.desktop .km-footer{
    display: none;
}

body.desktop .header-mobile{ display: none; }
body.desktop .header-desktop{ display: block; }
body.desktop .mobile-indicar{ display: none; }
body.desktop .desktop-indicar{ display: block; }

body.mobile .header-mobile{ display: block; }
body.mobile .header-desktop{ display: none; }

body.mobile .desktop-caption{display: none;}