<div data-role="view"
     data-layout="profissional-home-layout"
     data-model="ClientesAvaliadosModel"
     data-init="ClientesAvaliadosModel.init"
     data-show="ClientesAvaliadosModel.show"
     data-title="Clientes Avaliados">

    <div class="container-fluid">

        <div class="alert" role="alert" style="margin-bottom:0; padding-bottom:0;" data-bind="invisible: error">
            <label><b>Suas avaliações podem alertar outros profissionais.</b></label>
            <label><i>Ao executar uma tarefa e avaliar seu cliente, você colabora com o desenvolvimento da comunidade OLTask.</i></label>
        </div>

        <ul id="profissional-avaliacao-list" data-role="listview" data-source="ClientesAvaliadosModel.reviews" data-template="profissional-avaliacao-template" data-pull-to-refresh="true" data-auto-bind="false"></ul>

        <div class="text-center" data-bind="visible: noReviews">
            <img height="150" style="display:block; margin:20px auto;" src="images/oltask_aplicativo_icon_alerta.png" alt="">
            <label><b><i>Você não avaliou nenhum cliente ainda.</i></b></label>
        </div>

        <div class="text-center" data-bind="visible: error">
            <img height="150" style="display:block; margin:20px auto;" src="images/oltask_aplicativo_icon_erro.png" alt="">
            <label><b><i>Houston, we have a problem. ):</i></b></label>
        </div>

    </div>

</div>

<script type="text/x-kendo-template" id="profissional-avaliacao-template">
    <div class="item">


        <div class="item-row pessoa table" >
            <div data-role="button" class="table-cell icon-button">
                <div class="table-cell">
                    <div class="thumbnail">
                        #
                        var src;
                        if (data.photoURL != null) {
                        var url = data.photoURL;
                        var publicID = url.substring(url.lastIndexOf("/") + 1);
                        src = $.cloudinary.url(publicID, {width: 30, height: 30, crop: 'thumb', gravity: 'face'});
                        }
                        #
                        <img src="#:src#" onerror="imageError(this)" />
                    </div>
                </div>
                <div class="nome table-cell">
                    <label>
                        <b>#: data.customerName #</b>
                    </label>
                    
                </div>
            </div>
        </div>

        <div class="item-row">
            <label class="valor">
                Tarefa: <b>#:serviceTitle#</b>
            </label>
        </div>

        #if (data.score != null) {#
        <div class="item-row nota">
            <div class="content">
                <label>
                    Sua Nota:
                </label>
                <div class="star-rating">
                    <div class="rating-container rating-fa" data-content="">
                        <div class="rating-stars" data-content="" style="width: #: score/5 * 100  + '%' # ;"></div>
                    </div>
                </div>
            </div>
        </div>
        #}#
      
    </div>
</script>