

<div class="row">
    <!--main area-->
    <div class="col-md-8 col-sm-6">
        <h3 class="margintop_20 " style="font-weight:bold">Control Panel</h3>

        <p>welcome partner</p>
        <p></p>

        <!--projects-->
        <div  class="col-md-12 col-sm-12 projects ">

            <div class="wrap">

            <div class="professionals col-lg-12">
                <div class="col-md-6 col-sm-6">
                   <span class="date">87/09/90888</span>  <strong class="taskname">jgjhfhjfhjfghj</strong>
                </div>
                <div class="col-md-6 col-sm-6">
              
                    <ul  class="nav nav-pills pull-right" >
                        <li><a href="#"> Photo <span class="glyphicon glyphicon-camera"></span></a></li>
                        <li><a href="#"> Edit <span class="glyphicon glyphicon-edit"></span></a></li>
                        <li><a href="#" style="color:red"> Cancel <span class="glyphicon glyphicon-remove bg-danger"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>

            <!--provides list-->
            <div class="providers col-lg-12">
                <div class="col-md-4 col-sm-4">
                    
                    <div class="media pull-right">
                        <a class="pull-left" href="#">
                            <span style="position: relative; top: 40px; right: 55px;" class="badge badge-success pull-right firstbadge">9</span>
                            <img src="../../../images/128-2.jpg" style="max-height:50px;max-width:50px" class="img-circle img-responsive media-object" />
                            <span class="badge badge-success pull-right">2</span>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Media heading</h4>
                            
                        </div>
                    </div>


                </div>
                <div class="col-md-4 col-sm-4">
                   <h4>Visits</h4>

                </div>
                <div class="col-md-4 col-sm-4">
                    <h4>hours</h4>
                </div>
            </div>
            <!--//provides list-->
            <!--button-->
            
            <div class="clearfix"></div>
            <div class="col-md-12 col-sm-12">
                <button class="btn btn-primary pull-right margintop_20">Confirm Schedule</button>
            </div>
           
                </div>

        </div>
      
       
        
        <!--//projects-->

    </div>
    <!--end main area-->
    <!--promotions-->
    <!--promotions-->
    <div class="col-md-4 col-sm-6">


    </div>
    <!--end promotions-->
</div>